html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  align-items: center;
  text-align: center;
  font-family: 'JetBrains Mono', 'Consolas', monospace;
  background: #7ad1bb;
  background: -webkit-linear-gradient(to left,  #047483, #046197);
  background: linear-gradient(to left, #054b74, #2b87dd);
}
h1{
  font-size: 50px;
}
p {
  font-size: 18px;
  margin-bottom: 20px;
}

.choice {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: bisque;
}

.result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

.play-again {
  margin-top: 20px;
  display: none;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: coral;
}


