
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  align-items: center;
  text-align: center;
  font-family: 'JetBrains Mono', 'Consolas', monospace;
  background: #7ad1bb;
  background: -webkit-linear-gradient(to left,  #047483, #046197);
  background: linear-gradient(to left, #054b74, #2b87dd);
}
h1{
  font-family: 'Bubblegum Sans', cursive;
  text-transform: uppercase;
  font-size: 70px;
  color: #f7f3f3;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}
    

.avatarImage {
  width: 70px;
  height: 70px;
  border-radius: 75%;
  display: none;
}

#gameAvatar {
  width: 70px;
  height: 70px;
  border-radius: 75%;
  display: none;
}

.rps, .playInstructions, .mystery {
  display: none;
}

#mysteryPara {
  font-family: 'Bubblegum Sans', cursive;
  color: #f7f3f3;
  font-size: 18px;
}

/*
.choice {
  margin: 5px;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: bisque;
}
*/
.choice.highlight {
  font-weight: bold;
  color:coral;
  border-radius: 20%;
  background-color: aqua;
}

.result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}
/*
.play-again, #start {
  margin-top: 20px;
  display: none;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: coral;
  }
*/
.start, .configure {
  margin: 0 auto;
  margin-top: 20px;
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: coral;
  }

  .start.highlight, .play-again.highlight, .configure.highlight {
    font-weight: bold;
    color:aqua;
    border-radius: 20%;
    background-color: #F55050;
  }

.effect {
  width: 200px;
  height: 200px;
  align-items: center;
}

#playerBox {
  background-color: rgb(15, 104, 145);
  height: 500px;
  opacity: 50%;
}

#computerBox {
  background-color: rgb(5, 121, 121);
  height: 500px;
}

.button {
  font-family: 'Bubblegum Sans', cursive;
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0px 0px 2px 2px #888888;
}
.button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}
.button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #09b;
  transition: all .3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover {
  color: #fff;
}
.button:hover::before {
  width: 100%;
}

#btnleft{
  text-align: left;
}

#roundForm {
  background-color: rgb(14, 138, 196);
}

#roundForm label {
  font-family: 'Bubblegum Sans', cursive;
  color: #fff;
}

/* style the bet amount input field */
#betAmount {
  border-radius: 10px;
  height: 40px;
  font-size: 1rem;
  font-family: 'Bubblegum Sans', cursive;
  font-weight: bold;
  color: #333;
}

/* hide the default radio button */
input[type="radio"] {
  appearance: none;

}

/* style the radio buttons radio button */
input[type="radio"]::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 5px;
}

/* style the radio button when checked */
input[type="radio"]:checked::before {
  background-color: black;
}

